<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="main.css")
  title Grid
body
  canvas(width="640px" height="480px")#canvas
    | Your browser is not capable of displaying HTML5 canvas components
  script(src="main.js")