<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="main.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css")
  title Grid
body
  .grid
    canvas#canvas
      | Your browser is not capable of displaying HTML5 canvas components
  .right-block
    .controls
      .actions.btn-group-vertical
        button.btn.selected(title="Draw (Ctrl+Alt+D)")#draw
          i.fa.fa-pencil
        button.btn(title="Move (Ctrl+Alt+M)")#move
          i.fa.fa-hand-paper-o
        //- input.btn(type="color")#colorpicker
      //- .colorpicker
    //- .config
    //-   .form-group
    //-     label Resolution
    //-     .input-group
    //-       span.input-group-addon W
    //-       input.form-control(value="500")#width
    //-     .input-group
    //-       span.input-group-addon H
    //-       input.form-control(value="500")#height
    //-   .form-group
    //-     label Scale
    //-     input.form-control(value="2")#scale
    //-   button.btn.btn-primary#reset reset
  script(src="lib/raf.js")
  script(src="main.js")