body
  margin 0
  padding 0
.grid
  display inline-block
  width 700px 
  #canvas
    display block
    margin 20px
    border 1px solid #333
    cursor default
.controls
  display inline-block
  vertical-align top
  width 100px
  .colorpicker
    margin-top 30px
    input
      margin-left 10px